*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/main/java/com/example/weatheralarm/beaconInfo.java
libs/
src/main/java/com/example/weatheralarm/beaconUtil.java
src/main/res/drawable/snow.png
src/main/res/drawable/snow_bg.png
/app/src/main/res/drawable/rain.png
/app/src/main/res/drawable/sunny.png
/app/src/main/res/drawable/snow.png
/app/src/main/assets/fonts/
